<li id="todo_<%= todo.id %>"
    class="rounded-xl p-4 flex justify-between items-center
           <%= todo.done ? 'bg-green-50' : 'bg-[#EFF8FF]' %>">
  <div class="flex items-center space-x-4">
    <%= form_with model: todo, url: toggle_done_todo_path(todo), method: :patch, data: { turbo_stream: true } do |f| %>
      <%= f.label :done, class: "flex items-center gap-2" do %>
        <%= f.check_box :done, checked: todo.done, onchange: "this.form.requestSubmit()" %>
      <% end %>
    <% end %>

    <span class="<%= 'line-through text-gray-400' if todo.done %>">
      <%= todo.title %>
    </span>
  </div>

  <%= button_to 'Delete', todo_path(todo), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: "bg-red-100 hover:bg-red-200 text-red-600 px-4 py-2 rounded-xl font-medium transition" %>
</li>